<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("index", "home")">CT.Sfa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @await Component.InvokeAsync("Menu")
                @await Component.InvokeAsync("Login")
            </div>
        </nav>
    </div>

    <br />

    <div class="col-md-12">
        <h5>@ViewBag.Title</h5>
        <hr />
        @RenderBody()
    </div>

    <br />

    @*renderbody dışındaki alan*@
    <div>
        @RenderSection("content", false)
    </div>

    @*<div class="col-md-12">
            Footer
        </div>*@
</body>
</html>
